body{
    background-color: #d2e1ff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.form-container{
    height:280px;
    width: 600px;
    background-color: white;
    border-radius:10px;
    margin: 25% auto;
}
.form-container section{
    background: #dedede;
    /*border-radius: 5px;*/
    padding: 5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow: hidden;
    height: 125px;
    font-size: 12px;
    margin-bottom: 5px;


    /*Creates slight overlap between accordion panel content and heading*/
    position: relative;
    /*bottom: 5px;*/
}
.form-container section button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 8px;
    border: none;
    background-color: #3e4ab8;
    color:white;
    height: 25px;
    width: 100px;
    padding: 5px;
}

/*Form input CSS*/
.form-input-block{
    float: left;
    height: 50px;
    width: 200px;
    /*margin-top:10px;*/
}
.form-input-block label{
    margin: 5px;
    width: 190px;
    display: block;
}
.form-input-block input, .form-input-block select{
    border-radius: 5px;
    height: 25px;
    width: 180px;
    margin: 0px 5px 0px 5px;
    border: none;
    padding-left: 5px;
}

.dob-inputs input{
    width: 40px !important;
    margin: 0 1px 0 1px !important;
}
.dob-inputs input:first-of-type{
    margin-left: 5px !important;
}

.gender-input select{
    width: 150px !important;
}
.comment-input textarea{
    width: 320px;
    height:90px;
    border-radius: 5px;
    margin: 5px;
    border: none;
}



/* Accordion CSS */
#accordion{
    padding: 5px;
    /*margin: 5px;*/
    /*height: 300px;*/
}
#accordion h3{
    color:white;
    background-color: #ffc600;
    border-radius: 10px;
    margin: 5px 0 -7px 0;
    padding: 15px;
    font-size: 12px;
    font-weight: lighter;

    position: relative;
    z-index: 1000;
}
#accordion h3:not(.active){
    margin-bottom: 0;
}
#accordion h3 .active{
    margin-top: 10px !important;
}
#accordion h3:first-of-type{
    margin-top: 0 !important;
}

/*Validation CSS*/
label.error{
    position: relative;
    bottom: 34px;
    left: 2px;
    width: 185px;
    height: 20px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-radius: 2px;
    text-align: center;
    padding-top: 7px;
}
input.error{
    border: 2px solid red;
    opacity: 0.5;
}

/*Thank you screen CSS - same style as form-container above^^^ */
#thankYouMessage{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top:5px;
    z-index: 10000000;
    height:275px;
    width: 590px;
    border-radius:10px;
    margin: 24% auto ;
    /*display: none;*/
    text-align: center;
    color: white;
}

#thankYouMessage h1{
    font-size: 20px;
    margin: 11% auto 20px;
}
#thankYouMessage i{
    font-size: 100px;
}